.contenedor2-main-adopcion {

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
}

.contenedor_cartel_busqueda {
    background-color: #f7cdaa;
    height: 300px;
    width: 100%;
    margin-top: 130px;
    display: flex;
    justify-content: center;

}

.cartel_mensaje-busqueda {
    /* background-color: rgba(0, 255, 123, 0.4); */
    position: relative;
    width: 1400px;
    min-width: 1400px;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.logo_negro-fondo-cartel {
    position: absolute;
    background-image: url('../img/LOGO-BUSQUEDA-NEGRA.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 430px;
    height: 410px;
    opacity: 0.05;
    right: 0;
    top: -40px;
    z-index: 3;

}

.img_cartel_mensaje {
    /* background-color: rgb(5, 222, 222); */
    background-image: url('../img/gato.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 100%;
    margin-left: 20px;

}

.titulo_mensaje_busqueda {
    /* background-color: rgba(137, 43, 226, 0.942); */
    position: absolute;
    height: 70%;
    width: 800px;
    color: #603813;
    font-size: 17pt;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    left: 270px;
    z-index: 4;
}

.titulo-cartel {
    /* background-color: #2200e37e; */
    width: 90%;
    font-size: 45pt;
    color: #ee920c;
    display: flex;
    justify-content: center;
}

.mensaje-cartel {
/*     background-color: rgb(234, 255, 0); */
    padding-top: 5px;
    height: 45px;
    width: 100%;
    font-size: 25pt;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    z-index: 4;
}










.caja-contenedora-tarjetas-adopcion {
    /* background-color: #ffa75a; */
    margin-top: 50px;
    height: auto;
    width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.caja-filtro-adopcion {
    /* background-color: blueviolet; */
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selec-filtro {
    /* background-color: #f7cdaa; */
    width: 75%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.SELECT-1 {
    height: 60PX;
    width: 300PX;
    border-radius: 20PX;
    background-color: rgb(255, 167, 90);
    border-style: none;
    color: #603813;
    font-size: 14pt;
    text-align: center;

}

.options-select {
    background-color: #fcc290;
    color: #603813
}

.buscar-filtro-adopcion {
    background-color: #ffa75a;
    color: #603813;
    border: 4px solid #603813;
    height: 70px;
    width: 70px;
    font-size: 40pt;
    border-radius: 33px;
    transition: all 0.3s;
}

.buscar-filtro-adopcion:hover {
    color: #fcf2eb;
    transform: scale(1.3);

}



.linea-filtro-adopcion-tarjetas {
    background-color: #603813;
    height: 5px;
    width: 100%;
    border-radius: 20px;
}


/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

.contenedor-tarjetas-busqueda-mini-descripcion {
    /* background-color: rgb(109, 153, 192); */
    height: 1650px;
    width: 85%;
/*    margin-top: 50px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.tarjetas-busqueda-mini-descripcion-row {
    /* background-color: #541360; */
    display: flex;
    justify-content: space-around;
    margin: 40px 0 0 0;
}

.tarjeta1-busqueda-mini-descripcion {
    position: relative;
    background-color: #f7cdaa;
    height: 500px;
    /*width: calc(90% / 3 - 2%);*/
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.tito_img-perro-en-busqueda {
    position: relative;
    height: 46%;
    width: 100%;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.img1{
    background-image: url("../img/1.png");
    
    background-position: auto; 
}

.img2{
    background-image: url("../img/2.jpg");
}
.img3{
    background-image: url("../img/3.png");
}
.img4{
    background-image: url("../img/4.png");
}
.img5{
    background-image: url("../img/5.png");
}
.img6{
    background-image: url("../img/6.jpg");
}
.img7{
    background-image: url("../img/7.png");
    background-position: initial; 
}
.img8{
    background-image: url("../img/8.png");
}
.img9{
    background-image: url("../img/9.jpg");
}




/*

    PARA TIRAR FACHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

*/

 .btn__control {
        display: flex;
        gap: 15px;
        padding: 30px;
        align-items: center;
        position: relative;
        left: -470;
    }

    .boton_s_a {
        background-color: #f7cdaa;
        border: none;
        padding: 10px;
        border-radius: 10px;
        font-size:10pt;
        color: #603813;
        letter-spacing: 1px;
    }

    .numero_pestaña {
        font-size: 14pt;
        color: #603813;
    }




































.tipo_de_recompensas {
    background-image: url('../img/recopensa-efectivo-busqueda.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 80PX;
    width: 60PX;
    right: -6PX;
    top: -17PX;

}

.cajacontenedora_nombre {
    height: 50px;
    position: absolute;
    bottom: -20px;
    background-color: #ff000000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_nombre_centrado {
    background-color: #ffa75a;
    border: #f7cdaa 5px solid;
    padding: 3px 12px;
    max-width: 220px;
    border-radius: 19px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fcf2eb;
    font-size: 23pt;
}

.mini-informacion-tarjeta-busqueda {
    /* background-color: #ff330074; */
    height: 36%;
    width: 100%;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.des-mascota-busqueda-tarjeta {
    background-color: #fcf2eb;
    height: calc(88% / 4);
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.localidad-dato-busqueda {
    padding: 0 10px;
    max-width: 330px;
    min-width: 300px;
    overflow: hidden;
}

.tamoño-defauld-dato {
    width: 300px;
    max-width: 330px;
}

.caja-ubicaciom_mascota_busqueda_tarjeta {
    /* background-color: rgba(21, 170, 170, 0.6); */
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}




.ubicaciom_mascota_busqueda_tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15pt;
    white-space: nowrap;
    color: #603813;

}

.caja_contenedora_dato1 {
    position: absolute;
    /* background-color: #d1beac; */
    width: 148px;
    display: flex;
    font-size: 14pt;
    justify-content: center;
    align-items: center;
}



.caja_contenedora_dato1_responsive{
    display: none;
}



.linea-recta-medio-tarjetas {
    background-color: #603813;
    width: 4px;
    height: 80%;
    border-radius: 4PX;
    margin-left: 148px;
}

.caja_contededora_dato {
    /* background-color: #6cb0d8; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 148px;
    max-width: 148px;
    left: 30px;
}

.caja1_minidescripcion_der {
    font-size: 14PT;
}
.caja1_minidescripcion_der1 {
    font-size: 14PT;
}
.caja1_minidescripcion_der2 {
    font-size: 14PT;
}
.caja1_minidescripcion_der3 {
    font-size: 14PT;
}

.contenedor_VER-MAS-mascota-adopcion-tarjeta {
    /* background-color: rgb(127, 255, 212); */
    width: auto;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 5px 0; */
}



.VER-MAS-mascota-adopcion-tarjeta {
    background-color: #ffa75a;
    width: 145px;
    height: 55px;
    border-radius: 18px;
    border: #efc49f solid 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcf2eb;
    font-size: 19pt;
    transition: all 0.2s;
}

.VER-MAS-mascota-adopcion-tarjeta:hover {
    background-color: #fcb77b;
    border: #fcf2eb solid 5px;
    transform: scale(1.1);
}








.fechaaa
{
    background-color:#ffa75a;
    height: 110px;
    border-radius: 20px;
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    padding: 10px 20px;

}

.fecha2{ 
    /* background-color: #ffa75a; */
    font-size: 18pt;
    /* padding: 10px; */
    margin-bottom: 10px;
    
    
}

.fechaa{
    background-color: white;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    border: #bd9c8100 4px solid ;
    color: #603813;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fecha:focus {
    border: #603813 4px solid ;
    outline: none;
}















/*          INFO MASCOTA QR                       */

.contenedor-qr-realizado-main-adopcion {
    background-color: #fcf2eb;
    width: 100%;
    /* height: 1300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.caja-centradora-qr-realizado {
    background-color: #f7cdaa;
    width: 1000px;
    height: 900px;
    border-radius: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}

.caja-titulo-qr-realizado {
    background-color: #f7cdaa;
    border: #fcf2eb 8px solid;
    height: 10%;
    width: 55%;
    position: absolute;
    top: -50px;
    border-radius: 40px;
    color: #ffa75a;
    font-size: 38pt;
    display: flex;
    justify-content: center;
    align-items: center;
}


.caja-mascota-info-foto-qr-marcota-realizado {
    /* background-color: rgba(127, 255, 212, 0.334); */
    width: 90%;
    height: 40%;
    margin-top: 70px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.caja-info-mascota-qr-realizado {
    /* background-color: rgba(165, 42, 163, 0.434); */
    width: 50%;
    height: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.caja-foto-mascota-qr-realizado {
    background-image: url('../img/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #fcf2eb 4px solid;
    width: 45%;
    margin-left: 30px;
    height: 100%;
    border-radius: 40px;
}


.caja-mascota-info-foto-qr-marcota-realizadob {
    /* background-color: rgba(127, 255, 212, 0.692); */
    width: 90%;
    height: 44%;
    margin-top: 30PX;
    padding: 5px;
    display: flex;
    justify-content: center;

}

.caja-info-dueño-qr-realizado {
    /* background-color: rgba(255, 0, 0, 0.387); */
    width: 450px;
    height: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.caja-info-dueño-qr-realizado_fecha {
    position: absolute;
    bottom: 5px;
    height: auto;
}

.caja-ubicacion-mascota-qr-realizado {
    /* background-color: rgba(0, 255, 170, 0.33); */
    width: 450px;
    height: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.img-ubicacion-qr-realizado {

    border-radius: 40px;
    border: #fcebfb 10px solid;
    top: 80px;
    width: 85%;
    height: 80%;
    position: absolute;

}


.titulo-info-qr-realizado {
    /* background-color: rgba(127, 255, 212, 0.393); */
    width: 100%;
    height: 16%;
    font-size: 30pt;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffa75a;

}

.linea-qr-realizado {
    background-color: #fcebfb;
    height: 1.5%;
    width: 100%;
    margin-bottom: 15px;
}

.a-linea-qr-realizado_fecha {
    height: 6px !important;
    margin-top: 9px;
}

.datos-qr-realizado {
/*    background-color: rgba(240, 248, 255, 0.279);*/
    height: 250px;
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 18pt;
    text-align: center;
    color: #603813;
    box-sizing: border-box;
     word-wrap: break-word;
}

.datos-dueño-qr-realizado {
    /* background-color: rgba(240, 248, 255, 0.279); */
    height: 170px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}



.caja-datos-dueño-qr-realizado {
    /* background-color: #563313; */
    height: calc(85% /3);
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 0px;

}

.a-dato-qr-r {
    background-color: #ffa75a;
    display: inline;
    padding: 10px 13px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17pt;
    margin-right: 10px;
}

.b-dato-qr-r {
    background-color: #fcf2eb;
    display: inline;
    padding: 9px 13px;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    font-size: 15pt;
    max-width: 270px;
}

.a-linea-qr-realizado {
    background-color: #fcebfb;
    height: 1.5%;
    width: 90%;
    margin-bottom: 15px;
}







/*                           NIVELES DE RECOPENSAS                           */
.cajacontenedora-explicacion_recompensas {
    /* background-color: aquamarine; */
    height: 800px;
    width: 1400px;
    margin: 100px 0 200px 0;
}

.titulo-recom {
    /* background-color: #ffe1007d; */
    height: 15%;
    width: 100%;
    font-size: 50pt;
    color: #ffa75a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linea_recom {
    background-color: #ffa75a;
    height: 7px;
    width: 100%;
    border-radius: 20px;
}

.contenedor_t_d_r {
    /* background-color: rgba(205, 50, 50, 0.434); */
    height: 84%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caja_recompensas {
    background-color: #f7cdaa;
    width: calc(90% / 3);
    height: 85%;
    border-radius: 50PX;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo_tipo_de_recompensa {
    /* background-color: #ee940c6e; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40pt;
    padding-top: 10px;
    color: #ffa75a;
}

.linea_tarjeta_recompensas {
    background-color: #ffa75a;
    width: 90%;
    height: 5px;
    margin-bottom: 15px;
}

.tipo_efectivo {

    background-image: url('../img/recopensa-efectivo-busqueda.png');
}

.tipo_regalo {

    background-image: url('../img/recopensa-regalo-busqueda.png');
}

.tipo_gracias {

    background-image: url('../img/recopensa-gracias-busqueda.png');
}

.img_tipo_recompensas {
    /* background-color: #0cee326e; */
    background-position: center;
    background-size: cover;
    width: 240px;
    height: 330px;
    margin-bottom: 10px;
}










.explic_tipo_recompensa {
    /* background-color: rgba(0, 0, 255, 0.496); */
    height: 110px;
    width: 90%;
    text-align: center;
    font-size: 18pt;
    color: #603813;
}


/*                           CARTEL ADOPTAR BUSQUEDA                         */

.contenedora-centrar_caja_adoptar_buscar {
    background-color: #f7cdaa;
    height: 350px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
/*    margin-bottom: 200px;*/
}


.caja_adoptar_buscar {
/*    background-color: #66339973;*/
    height: 100%;
    width: 1400px;
    display: flex;
}


.titulo_texto_botom_ {
/*    background-color: red;*/
    width: 74%;
    height: 100%;
    padding: 45px 0 0 0;
}

.contenedor_img_registrar_mascota{
/*    background-color: blue;*/
    width: 26%;
    height: 100%;
    display: flex;
    align-items: center;
}
.img_registrar_mascota {
    background-image: url(../img/busqueda-tarjeta.png);
    background-size: cover;
/*    background-color: rebeccapurple;*/
    background-image: center;
    width: 324px;
    height: 330px;
}


.titulo_cartel_registrar {
    width: 100%;
    font-size: 40pt;
    color: #ffa75a;
    display: flex;
    justify-content: start;
    padding: 0 0 0 30px;
}

.texto_cartel_registrar {
/*    background-color: aqua;*/
    font-size: 24pt;
    padding: 0 60px 0 30px;
    color: #603813;
    margin-top: 10px;
}

.boton_cartel_registrar {
    width: 100%;
/*    background-color: beige;*/
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.link_dar_en_adopcion {
    background-color: #ffa75a;
    text-decoration: none;
    color: white;
    border: #efc49f 4px solid;
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 20pt;
    letter-spacing: 2px;
    transition: all 0.1s;

}

.link_dar_en_adopcion:hover{
    border: white 4px solid;
    background-color: #ffa75a7a;
}



/*                        FIN   CARTEL ADOPTAR BUSQUEDA                         */












/*                           FIN NIVELES DE RECOPENSAS                        */



/*                           FIN INFO MASCOTA QR                       */


/*                  RESPONSIVE                           */

@media (max-width: 800px) {


    
    .contenedor_VER-MAS-mascota-adopcion-tarjeta{
        /* background-color: #ee920c; */
        position: absolute;
        bottom: -3px;
        right: -3px;
        height: auto;
    }

    .VER-MAS-mascota-adopcion-tarjeta{
        /* background-color: #fc7b7b60; */
        position: relative;
        width: 120px;
        height: 33px;
        border-radius: 12px;
        font-size: 15pt;
        border: none;
        border-radius: 0px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 35px;


    }

    .VER-MAS-mascota-adopcion-tarjeta:hover{
        /* color: #60381369; */
        cursor: pointer;
        border: none;
        transform: none;
        background-color: #ffa75a8b;

    }

    .redesu{
        margin-right: 25px;
    }


    .contenedor_cartel_busqueda {
        margin-top: 0;
        height: 400px;
        min-width: 450px;
    }


    .cartel_mensaje-busqueda {
        min-width: 400px;
        max-width: 650px;
        margin: 0 10px;

    }


    .logo_negro-fondo-cartel {
        /* display: none; */
        width: 330px;
        height: 310px;
        top: auto;
        bottom: -30px;
        right: -0px;
        z-index: 2;
        /* transform: scaleX(-1); */
        
    }

    .img_cartel_mensaje {
        /* display: none; */
        width: 250px;
        height: 320px;
        position: absolute;
        top: 81px;
        margin: 0;
        z-index: 9;
        

    }

    .titulo_mensaje_busqueda {

        /* display: none; */
        position: relative;
        left: 200px;
        align-items: start;
        min-width: 230px;
        max-width: 450px;

    }

    .titulo-cartel {
        /* display: none; */
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        width: auto;
    }

    .mensaje-cartel {
        /* display: none; */
        font-size: 13pt;
        justify-content: start;
        align-items: start;
        padding: 5px 0 2px 0;
        height: 40px;
    }



    .caja-contenedora-tarjetas-adopcion {
        /* display: none; */
/*        background-color: blueviolet;*/
        width: 100%;
        height: 2300px;
        margin-bottom: 80px;
    }

    .caja-filtro-adopcion{
        /* display: none; */
        width: 90%;
        height: 80px;
    }

    .selec-filtro{
        /* display: none; */
        width: 100%;
    }

    .SELECT-1 {
        width: 100px;
        font-size: 10pt;
    }

    .buscar-filtro-adopcion:hover {
        color: #fcf2eb;
        transform: scale(1.15);
    
    }


    .linea-filtro-adopcion-tarjetas{
        /* display: none; */
        width: 95%;
        margin-top: 10px;
    }



    .des-mascota-busqueda-tarjeta{
        border-radius: 10px;
    }












    .contenedor-tarjetas-busqueda-mini-descripcion{
/*        background-color: aquamarine;*/
        /* display: none; */
        height: auto;
        width: 400px;
        margin-bottom: 10px;

    }

    .icono_location{
        color: #603813;
        position: relative;
        top: 2px;
    }

    

    .tarjeta1-busqueda-mini-descripcion{
        height: 200px;
        width: 400px;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .tito_img-perro-en-busqueda{
        border-radius: 26px;
        height: 100%;
        width: 50%;
    }

    .tipo_de_recompensas{
        height: 60px;
        width: 40px;
    }

    .contenedor_nombre_centrado{
        position: absolute;
        font-size: 15pt;
        border-radius: 0px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border: #f7cdaa 4px solid;
        left: -4px;
        bottom: -1px;
    }

     .cajacontenedora_nombre{
/*        background-color: red;*/
        position: relative;
        position: absolute;
        bottom: -3px;
        height: 40px;
    }


    .contenedor_nombre_centrado{
    padding: 4px 16px;
    }



    .icono_location{ 
    }

    .localidad-dato-busqueda{
        min-width: 100%;
        max-width: 100%;
    }
    .caja-ubicaciom_mascota_busqueda_tarjeta{
        width: 100%;
    }

    .tamoño-defauld-dato{
        width: 100%;
    }

    .ubicaciom_mascota_busqueda_tarjeta{
        font-size: 12pt;
    }

    .caja-ubicaciom_mascota_busqueda_tarjeta{
    display: none;
    }



    .caja_contenedora_dato1{
        
        width: 80px;
        font-size: 12pt;
        width: 50px;
        margin-left: 10px;
        justify-content: start;
    }

    .caja_contenedora_dato1_icono_loc{
        margin-left: 5px;
    }

    .caja_contenedora_dato1_responsive{
        height: 100%;
        display: flex;
    }


    .linea-recta-medio-tarjetas{
        margin-left: 52px;
        width: 2px;
    }


    .linea-recta-medio-tarjetas_localidad{
        margin-left: 42px;
    }


    .caja_contededora_dato{
        /* background-color: #ee920c; */
        margin-left: 10px;
        width: auto;
        max-width: 80px;
    }

    .caja1_minidescripcion_der {
        font-size: 12PT;
        overflow: hidden;
    }


    .mini-informacion-tarjeta-busqueda{
    margin-top: 20px;
    height: 70%;
    width: 49%;
    padding: 0 10px;
    border-radius: 10px;
    }



    /*                 VER MAS                 */




    .caja-centradora-qr-realizado{
        width: 400PX;
        height: auto;
        border-radius: 30px;
        margin-top: 180px;
        padding-bottom: 30px;
    }

    .caja-titulo-qr-realizado{
        background-color: #ffa75a;
        color: #fcf2eb;
        font-size: 25px;
        letter-spacing:0.5px;
        width: 70%;
        height: 60px;
        border-radius: 20px;
        top: -30px;
        border: #fcf2eb 5px solid;
    }


    .caja-mascota-info-foto-qr-marcota-realizado{
        /* display: none; */
        flex-direction: column;
        /* background-color: #ee920c; */
        height: auto;
        align-items: center;
        margin-top: 50px;
        justify-content: start;
        padding-bottom: 40px;
    }

    .caja-foto-mascota-qr-realizado{
        /* background-color: aquamarine; */
        width: 100%;
        height: 300px;
        margin-left: 0px;
    }

    .caja-info-mascota-qr-realizado{
        /* display: none; */
        /* background-color: #59255694; */
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .titulo-info-qr-realizado{
        font-size: 22pt;
    }

    .datos-qr-realizado{
        height: 100%;
        width: 100%;
        font-size: 14pt;
    }

    .linea-qr-realizado{
        height: 3px;
        margin-bottom: 9px;
    }
    


    .caja-mascota-info-foto-qr-marcota-realizadob{
        /* display: none; */
        height: auto;
        display: flex;
        flex-direction: column;
        /* background-color: #e774df77; */
        margin-top: 0;
        height: auto;
        justify-content: start;
    }

    .caja-ubicacion-mascota-qr-realizado{
        /* background-color: #2eb36e56; */
        width: 100%;
        height: auto;
        height: 330px;
        bottom: -230px;
    }

    .titulo-info-qr-realizado{
        font-size: 22pt;
        /* background-color: #603813; */
        height: 40px;
    }

    .a-linea-qr-realizado{
        height: 3px;
    }

    .img-ubicacion-qr-realizado{
        height: 70%;
        top: 60px;
        height: 250px;
        border-radius: 20px;
    }



    .caja-info-dueño-qr-realizado{
        /* display: none; */
        width: 100%;
        position: relative;
        top: -360px;
    }

    .b-dato-qr-r{
        font-size: 18px;
        padding: 12px 13px;
    }


}








@media (max-width: 615px) {

    .mensaje-cartel {
     width: 300px;
    text-align: center;

    }


    @media (max-width: 520px) {
        .titulo-cartel {
            width: 200PX;
        }

        .titulo_mensaje_busqueda {
            align-items: center;
            position: relative;
            left: 200px;
            text-align: center;
            width: 280px;

        }
        .mensaje-cartel {
         width: 230px;
    
        }

    }

    @media (max-width: 462px) {
        .titulo_mensaje_busqueda {
            width: 10px;
            white-space: pre-line;

        }
        .mensaje-cartel {
            width: 220px;
            align-items: center;
            justify-content: center;
            height: 50px;
            padding-top: -10;
           }
    }

}