@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sigmar {
    font-family: 'Sigmar', cursive;
    font-weight: 400;
}

.roboto2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.texto_black {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
}

.releway {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.lexend {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
}

body {
    position: relative;
    background-color: #fcf2eb;
    height: 100%;
    /* border: solid 10px rgb(0, 255, 64); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}


.d-c {
    display: contents;
}

/*                             HEADER                           */





/*                                  MAIN INDEX                                */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*cartel del perrito*/


.contenedor1-main-index {
    height: 800px;
    width: 100%;
    background-image: url("../img/fondo-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.caja1 {
    display: flex;
    /* background-color: #ffa75a; */
    bottom: 0;
}

.CAJA-PERRO-CARTEL-ONDA {
    /* background-color: rgb(0, 255, 34); */
    width: 100%;
    height: 0;

}

.caja2 {
    z-index: 4;
    margin-top: 110px;
    display: flex;
    /* background-color: rgb(0, 136, 255); */
    flex-direction: column;
    align-items: center;
}

.imagen-perro-cartel {
    width: 250px;
    height: auto;
}

.contenedor-descripcion {
    position: relative;
    z-index: 3;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: #f7cdaa;
    width: 1000px;
    height: 580px;
}

.logo-caja {
    position: relative;
    top: -20px;
    width: 390px;
    height: auto;
}

.linea {
    position: relative;
    top: -20px;
    background-color: #ffa75a;
    width: 10px;
    height: 72%;
    margin: 0px 50px;
    border-radius: 20px;
}

.descripcion-greatpet {
    position: relative;
    top: -20px;
    /* background-color: #ff1201ef; */
    text-align: center;
    width: 400px;
    height: 400px;
    color: #603813;
    font-size: 22px;
}


.ondas {
    z-index: 6;
    /* background-color: #6ac77000; */
    position: relative;
    width: 100%;
    height: 200px;
    top: -200PX;
    /*CONSULTAR AL PROFE*/
}

/*TERMINA cartel del perrito*/



/*TARJETAS*/

.contenedor2-main-index {
    /* background-color: #daeeb4; */
    height: 1000px;
    width: 1200px;
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}

.tarjetas {
    /* background-color: #ceb6a3; */
    border-radius: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarj {
    background-color: #f7cdaa;
    height: 200px;
    width: 65%;
    border-radius: 100px;
    border-bottom-right-radius: 30px;
    margin: 35PX;
    display: flex;
    align-items: center;
}


.logotipo-tarjeta {
    background-color: rgba(238, 130, 238, 0);
    height: 100%;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borde1 {
    /* background-color: #f9fceb; */
    height: 100%;
    width: 100%;
    border: solid 7px #fcf2eb;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borde2 {

    height: 100%;
    width: 100%;
    background-color: #f7cdaa;
    border: solid 5px #ffa75a00;
    border-radius: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-tarjeta {
    /* background-color: rgb(0, 255, 255); */
    width: 800px;
    padding-left: 50px;
    position: relative;
    top: -8px;
}

.img-tarjeta1 {
    height: 150px;
    width: 140px;

}

.img-tarjeta2 {
    height: 135px;
    width: 135px;

}

.img-tarjeta3 {
    position: relative;
    height: 140px;
    width: 140px;
    top: -8px;

}

.img-tarjeta4 {
    position: relative;
    height: 150px;
    width: 150px;
    top: 7px;

}


.titulo-tarjeta {
    font-size: 25pt;
    color: #ffa75a;
}

.parrafo-tarjeta {
    font-size: 14pt;
    color: #603813;
}

.caja-ir {
    position: relative;
    background-color: #ffa75a;
    height: 50px;
    width: 150px;
    bottom: -70px;
    left: 8px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.caja-ir:hover {
    transform: scale(1.1);
    background-color: #f8b67c;

}

.ir {
    font-size: 30pt;
    color: #f7cdaa;
}

.ir-link {
    text-decoration: none !important;
}

/*                                            ADOPCION                                                      */



/*                                           MAIN ADOPCION                                        */

.contenedor2-main-adopcion {
    background-color: #fcf2eb;
    width: 100%;
    height: 2500px;
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
}





/*      CARTEL PRINCIPAL ADOPCION     */





.caja-fodo-titulo-adopta {
    display: flex;
    background-color: #f7cdaa;
    margin-top: 120px;
    width: 100%;
    height: 150PX;
    /* height: 270px; */
    justify-content: center;
}

.contanedora-caja-fodo-titulo-adopta {
    background-color: #f7cdaa;
    height: 100%;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: end;

}

.img-gato-adopcion {
    /* background-color: #944e15; */
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.img-gato-adopcion-header {
    height: 150px;
    width: auto;
    position: relative;
    top: 25px;

}

.img-perro-adopcion {
    /* background-color: #fbff00; */
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.img-perro-adopcion-header {
    height: 130px;
    width: auto;
    position: relative;
    top: 20.1px;
}

.texto-adopcion-header {
    /* background-color:#c5f7aa; */
    width: 50%;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.titulo-adopcion-header {
    /* background-color: #f1d1b7; */
    position: relative;
    font-size: 33pt;
    top: -5px;
    color: #ffa75a;
    letter-spacing: 1.5px;
}

.mensaje-adopcion-header {
    /* background-color: antiquewhite; */
    position: relative;
    font-size: 17pt;
    color: #603813
}









/*     TERMINA CARTEL PRINCIPAL ADOPCION     */





/*                   CAJA PRINCIPAL ADOPCION                      */

.caja-contenedora-tarjetas-adopcion {
    /* background-color: #ffa75a; */
    margin-top: 50px;
    height: 2050px;
    width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caja-filtro-adopcion {
    /* background-color: blueviolet; */
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selec-filtro {
    /* background-color: #f7cdaa; */
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.SELECT-1 {
    height: 60PX;
    width: 200PX;
    border-radius: 20PX;
    background-color: rgb(255, 167, 90);
    border-style: none;
    color: #603813;
    font-size: 14pt;
    text-align: center;

}

.options-select {
    background-color: #fcc290;
    color: #603813
}

.buscar-filtro-adopcion {
    background-color: #ffa75a;
    color: #603813;
    border: 4px solid #603813;
    height: 70px;
    width: 70px;
    font-size: 40pt;
    border-radius: 33px;
    transition: all 0.3s;
}

.buscar-filtro-adopcion:hover {
    color: #fcf2eb;
    transform: scale(1.3);

}



.linea-filtro-adopcion-tarjetas {
    background-color: #603813;
    height: 13px;
    width: 100%;
    border-radius: 20px;
}





/*                          tarjetas                                       */





.contenedor-tarjetas-adopcion-mini-descripcion {
    /* background-color: rgb(109, 153, 192); */

    height: 1650px;
    width: 85%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjetas-adopcion-mini-descripcion-row {
    /* background-color: #541360; */
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
}




.tarjetas-adopcion-mini-descripcion-columns {
    display: flex;
    flex-direction: column;


}

.tarjeta1-adopcion-mini-descripcion {
    background-color: #f7cdaa;
    height: 550px;
    width: calc(100% / 3 - 2%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.img-perro-en-adopcion {
    position: relative;
    background-image: url("../img/img-perro-tarjeta-adopcion.webp");
    height: 50%;
    width: 100%;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tito_img-perro-en-adopcion {
    position: relative;
    background-image: url("../img/tito_calderon.jpg");
    height: 50%;
    width: 100%;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cajacontenedora_nombre_huesos {
    height: 50px;
    position: absolute;
    bottom: -25px;
    background-color: #ff000000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_nombre_centrado {
    background-color: #ffa75a;
    height: 42px;
    padding: 0 5px;
    max-width: 220px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fcf2eb;
    font-size: 23pt;
}



.hueso1 {
    background-color: rgba(127, 255, 212, 0);
    height: 100%;
    width: 50px;
}

.medida_hueso_centrado {
    position: relative;
    top: -12px;
}

.caja-ubicaciom_mascota_adopcion_tarjeta {
    background-color: rgba(21, 170, 170, 0);
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.material-icons-outlined {
    font-size: 25pt;
}

.ubicaciom_mascota_adopcion_tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 13pt;
    white-space: nowrap;
    color: #603813;


}



.texto_ubicacion_mascota {}


.mini-informacion-tarjeta-adopcion {
    background-color: #ff330000;
    height: 40%;
    width: 100%;
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}


.des-mascota-adopcion-tarjeta {

    background-color: #fcf2eb;
    height: calc(88% / 4);
    width: 80%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.caja_contenedora_dato1 {
    position: absolute;
    background-color: #d1beac00;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja1_minidescripcion_iz {
    background-color: #6cb0d800;
    height: 42px;
    max-width: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 15pt;
    left: 60px;
}

.linea-recta-medio {
    background-color: #603813;
    width: 8px;
    height: 80%;
    border-radius: 4PX;
    margin-left: 130px;
}

.caja_contededora_dato {
    background-color: #6cb0d800;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 30px;
}

.caja1_minidescripcion_der {
    background-color: #f5f10000;
    max-width: 162px;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13PT;
}

.a_contenedor_VER-MAS-mascota-adopcion-tarjeta {
    background-color: #603813;
}

.contenedor_VER-MAS-mascota-adopcion-tarjeta {
    /* background-color: rgb(127, 255, 212); */
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 5px 0; */
}

.VER-MAS-mascota-adopcion-tarjeta {
    background-color: #ffa75a;
    width: 145px;
    height: 55px;
    border-radius: 18px;
    border: #efc49f solid 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcf2eb;
    font-size: 19pt;
    transition: all 0.2s;
}

.VER-MAS-mascota-adopcion-tarjeta:hover {
    background-color: #fcb77b;
    border: #fcf2eb solid 5px;
    transform: scale(1.1);
}






/*                                          FIN tarjetas Adopcion                                            */

/*                                              MAS INFO TARJETAS DE MASCOTAS                          */

.contenedor-MAS-main-adopcion {
    background-color: #fcf2eb;
    width: 100%;
    /* height: 1300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    padding-bottom: 200px; */
}

.contenedora_caja_mas_info {
    background-color: #fcf2eb;
    margin-top: 110px;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-mas-info-mascotas {
    background-color: #f7cdaa;
    width: 1150px;
    min-width: 1150PX;
    height: 800px;
    border-radius: 100px;

}

.caja-titulo-mas-sobre-mi {
    position: relative;
    /* background-color: aquamarine; */
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-mas-sobre-mi {
    position: absolute;
    background-color: #f7cdaa;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #fcf2eb;
    width: 650px;
    height: 100px;
    border-radius: 40px;
    top: -40px;
    color: #f5911e;
    font-size: 30PT;
    letter-spacing: 2px;
}

.contenedora-foto-historia {
    height: 45%;
    /* background-color: #94653c; */
    width: 100%;
    padding: 0 45px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.imagen-animal-ver-mas {
    position: relative;
    background-color: azure;
    height: 100%;
    width: 40%;
    border-radius: 60px;
    border: 6px #fcf2eb solid;

}


.FOTO-animal-ver-mas {
    background-image: url("/img/tito_calderon.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 55px;
}

.contenedor_nombre_mascota_ver_mas {
    position: absolute;
    /* background-color: #c09fef59; */
    width: 100%;
    height: 70px;
    bottom: -28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombre_mascota_ver_mas {
    background-color: #f5911e;
    color: #fcf2eb;
    height: 40PX;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40pt;
    max-width: 100%;
    overflow: hidden;
    border-radius: 25px;
    border: 6px #f7cdaa solid;

}



.historia-animal-ver-mas {
    /* background-color: rgb(241, 255, 240); */
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


.titulo_historia_ver_mas {
    /* background-color: aquamarine; */
    width: 100%;
    height: 60px;
    font-size: 30pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5911e;
}

.linea_titulo_descripcion_historia {
    background-color: #fcf2eb;
    width: 100%;
    height: 8px;
    border-radius: 50px;
}

.dedscripcion_historia_ver_mas {
    /* background-color: rgba(165, 42, 42, 0.251); */
    width: 90%;
    /* margin: auto; */
    margin-top: 10px;
    text-align: center;

}

.dedscripcion_historia_ver_mas p {
    font-size: 19pt;
    color: #603813;
}


.caja-info_refuguio_ver_mas {
    /* background-color: rgba(0, 0, 255, 0.324); */
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_refuguio_ver_mas {
    /* background-color: #2afc00f7; */
    width: 45%;
    height: 80%;
}


.titulo_refuguio_ver_mas {
    /* background-color: blueviolet; */
    width: 100%;
    height: 23%;
    font-size: 40PT;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5911e;
}


.linea-refugio-ver-mas {
    background-color: #fcf2eb;
    width: 100%;
    height: 3%;
    border-radius: 50px;
}

.contatos_imagen_refugio_ver_mas {
    /* background-color: blueviolet; */
    width: 100%;
    height: 74%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenedor_img_refuguio_ver_mas {
    /* background-color: rgb(255, 0, 0); */
    width: 35%;
    height: 170px;

}

.img_refuguio_ver_mas {
    height: 100%;
    width: 100%;
    background-image: url('/img/refuguio.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cajas_contactos_refuguio_ver_mas {
    /* background-color: rgb(25, 0, 255); */
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0px;

}


.cajas_contenedoras_contactos_ver_mas {
    background-color: aqua;
    height: 22px;
}


.cajas_contenedoras_contactos_ver_mas {
    background-color: #fcf2eb00;
    height: 60px;
    border-radius: 20px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    justify-content: center;

}

.icons_telefono_mail {
    /* background-color: rgba(127, 255, 212, 0.437); */
    font-size: 40pt;
    color: #f7cdaa;

}

.mail_telefono_refugio_ver_mas {
    background-color: #fcf2eb;
    height: 100%;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    font-size: 12pt;
    overflow: hidden;
}

.mail_telefono_refugio_ver_mas p u {
    margin: 0 10px 0 10px;
}

.fondo_caja_contenedora_raaum {
    /* background-color: rgb(48, 34, 10); */
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.caja_contenedora_raaum {
    /* background-color: rgb(255, 144, 144); */
    height: 900px;
    width: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_raaum {
    /* background-color: #603813; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 50pt;
    height: 23%;
    color: #ffa75a;
}

.linea_raaum {
    background-color: #de7718;
    width: 90%;
    height: 1.5%;
    margin-top: 20px;
}

.cajas_descripcion {
    position: relative;
    /* background-color: #359225bd; */
    width: 1400px;
    height: 75.5%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-top: 40px;
}

.caja_raaum {
    background-color: #f7cdaa;
    width: 600px;
    height: 75%;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titulo_recomendaciones_raaum {
    /* background-color: rgba(127, 255, 212, 0.233); */
    height: 20%;
    width: 100%;
    font-size: 24pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    color: #ffa75a;
}

.linea_recomendaciones_raaum {
    background-color: #f5911e;
    height: 1%;
    width: 90%;
}

.descripcion_recomendaciones_raaum {
    /* background-color: #efc49f8e; */
    height: 79%;
    width: 78%;
    padding: 20px;
    font-size: 17pt;
    text-align: center;
    display: flex;

}



/*                 ADOPCION                  */

/*                                 SERVICIOS                             */

.contenedor-sevicios-main-adopcion {
    background-color: #fcf2eb;
    width: 100%;
    height: 2200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
        padding-bottom: 200px; */

}

.caja-contenedora-header-foto-recomendaciones {
    background-color: #f7cdaa;
    height: 300px;
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.contenedora-header-foto-recomendaciones {
    /* background-color: rgba(228, 183, 125, 0.363); */
    width: 1400px;
    height: 100%;
    display: flex;
}

.img_perro_servicios {
    /* background-color: rgba(0, 255, 255, 0.308); */
    background-image: url('/img/Cachorro-feliz-31175d68.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 370px;
    height: 100%;
    margin: 0 0 0 150px;
}


.contenedor-titulo_mensaje_servicios {
    /* background-color: rgba(0, 255, 55, 0.226); */
    width: 880px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo_mensaje_servicios {
    /* background-color: #de7718; */
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.titulo_recomendaciones_servicios {
    /* background-color: aquamarine; */
    height: 90px;
    width: 80%;
}

.mesaje_servicios_ {
    /* background-color: aquamarine; */
    height: 90px;
    width: 100%;
}

.titulo_recomendaciones_servicios {
    font-size: 45pt;
    /* background-color: #603813; */
    display: flex;
    justify-content: center;
    color: #ee920c;
}

.mesaje_servicios_ {
    /* background-color: #690b0b; */
    font-size: 20pt;
    display: flex;
    justify-content: center;
    color: #603813;
}




/*                             TARJETAS RECOMENDACIONES                         */




.contenedora_tarjetas_recomendaciones {
    /* background-color: #ee920c; */
    width: 1100px;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 100px 0;
}

.tarjeta_servicios {
    background-color: #f7cdaa;
    width: 90%;
    height: 420px;
    border-radius: 50px;
    display: flex;
    margin-bottom: 60px;
}


.contenedor_imagen_refuguio_tarjeta {
    /* background-color: rgba(137, 43, 226, 0.212); */
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen_refuguio_tarjeta {
    background-image: url('/img/refuguio.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #603813; */
    height: 65%;
    width: 90%;

}

.bimagen_refuguio_tarjeta {
    background-image: url('/img/forrajeria.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #603813; */
    height: 60%;
    width: 70%;

}

.cimagen_refuguio_tarjeta {
    background-image: url('/img/peluqueria-canina.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #603813; */
    height: 65%;
    width: 90%;

}

.titulo_descripcion_contactos {
    /* background-color: rgba(165, 42, 42, 0.356); */
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.titulo_tipo_reco {
    /* background-color: chocolate; */
    width: 100%;
    height: 80px;
    display: flex;
    /* justify-content: space-between; */

}

.nombre_empresa_servicio {
    /* background-color: #603813; */
    color: #ee920c;
    font-size: 30pt;
    padding-top: 20px;
}

.tipo_servicio {
    background-color: #ee920c;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    position: relative;
    padding: 20px;

}

.contenedor_tipo_servicios {
    position: absolute;
    /* background-color: red; */
    width: 520px;
    display: flex;
    margin-top: 30px;
    justify-content: end;

}


.linea_reco_refuguios {
    background-color: #603813;
    width: 82%;
    height: 5px;
    border-radius: 5px;
}

.contenedor_parrafo_info_reco {
    /* background-color: rgba(0, 0, 255, 0.438); */
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.parrafo_info_reco {
    /* background-color: burlywood; */
    font-size: 15pt;
    width: 80%;
    margin: 20px 0 0 20px;
}

.contactos_refu {
    /* background-color: chartreuse; */
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_contactos_refuguios {
    /* background-color: azure; */
    height: 60px;
    width: 640px;
    display: flex;
    padding: 0 10px;
}

.contactos_refuguios_mail_num {
    background-color: #fcf2eb;
    height: 100%;
    padding: 0 20px 0 5px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-right: 20px;
}

.email_num_ref {
    padding: 0 0 0 10px;
    color: 603813;
    font-size: 12pt;
}




/*                             FIN TARJETAS RECOMENDACIONES                        */


/*                              FIN SERVICIOS                               */