
header {
    position: absolute;
    z-index: 1000;
    display: flex;
    /* background-color: rgba(165, 42, 42, 0.461); */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.headersi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aquamarine; */
    width: 1400px;
    height: 100px;
    margin-top: 20px;
}

.FOTO-LOGO {
    /* background-color: #f7cdaa; */
    padding-top: 6px;
    /* margin-right:200px ; */
    transition: all 0.3s;
}

.FOTO-LOGO:hover {
    transform: scale(1.2);
}

.navegacion {
    display: flex;
    /* background-color: blanchedalmond; */
    justify-content: space-between;
    width: 550px;
    margin-left: 130px;

}
.TEXTO-LINK{
    text-decoration: none;
}
.navegacion h3 {
    font-size: 15pt;
    padding: 0 8px 0 8px;
    color: rgb(255, 167, 90);
    transition: all 0.4s ease 0s;
    /* height: 20px; */
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion h3:hover {
    background-color: #ffa75a;
    color: white;
    height: 30px;
    padding: 0 20px;
    border-radius: 50px;

}

/* .navegacion h3:active{
    transform: scale(1.1);
    background-color: #ffa75a;
    color: white;
    width: auto;
    height: 30px;
    padding: 0 20px;
    border-radius: 50px;
} */



.img-header {
    display: flex;
    position: relative;
    /* background-color: rgb(58, 99, 224); */
    left: 40px;
    width: auto;
    height: 100px;
    align-items: center;
}

.redes{
    
    /* background-color: #603813;   */
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.inicio-seccion{
    background-color: rgb(255, 167, 90);
    height: 35px;
    color: #fcf2eb;
    border-radius: 20px;
    margin: 5px;
    padding: 12px;
    font-size: 13pt;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-seccion:hover{
    background-color: #ffdbc2;
    transform: scale(1.1);
    /* border: 3px solid rgb(255, 167, 90); */
    color: rgb(255, 167, 90);
    cursor: pointer;}


.registrarse{
    background-color: #f7cdaa;
    /* border: 3px solid #ffdbc2; */
    height: 43px;
    width: 138px;
    color: rgb(201, 110, 5);
    border-radius: 7px;
    margin: 5px;
    padding: 12px;
    font-size: 13pt;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrarse:hover{
    /* background-color: #ffdbc2; */
    background-color: rgb(255, 188, 129);
    /* border: 3px solid rgb(255, 167, 90); */
    /* color: rgb(255, 167, 90); */
    /* transform: scale(1.1); */
}



/* .redes {
    background-color: rgb(165, 42, 42);
    display: flex;
    justify-content: space-between;
    width: 100px;

}

.redes-header {
    background-color: rgb(144, 224, 58);
    height: 20px;

}

.redes-header:hover {
    box-shadow: 0 0 10px #f7cdaa;

} */