*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: #603813;
}



/* /cartel del perrito/ */


.contenedor1-main-index {
    height: 800px;
    width: 100%;
    background-image: url("../img/fondo-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.caja1 {
    display: flex;
    /* background-color: #ffa75a; */
    bottom: 0;
}

.CAJA-PERRO-CARTEL-ONDA {
    /* background-color: rgb(0, 255, 34); */
    width: 100%;
    height: 0;

}

.caja2 {
    z-index: 4;
    margin-top: 110px;
    display: flex;
    /* background-color: rgb(0, 136, 255); */
    flex-direction: column;
    align-items: center;
}

.imagen-perro-cartel {
    width: 250px;
    height: auto;
}

.contenedor-descripcion {
    position: relative;
    z-index: 3;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: #f7cdaa;
    width: 1000px;
    height: 580px;
    padding: 10px;
}

.logo-caja {
    position: relative;
    top: -20px;
    width: 390px;
    height: auto;
}

.linea {
    position: relative;
    top: -20px;
    background-color: #ffa75a;
    width: 10px;
    height: 72%;
    margin: 0px 50px;
    border-radius: 20px;
}

.descripcion-greatpet {
    position: relative;
    top: -20px;
    /* background-color: #ff1201ef; */
    text-align: center;
    width: 400px;
    height: 400px;
    color: #603813;
    font-size: 25px;
    display: flex;
    align-items: center;
}


.ondas {
    z-index: 6;
    /* background-color: #6ac77000; */
    position: relative;
    width: 100%;
    height: 200px;
    top: -200PX;
    /* /CONSULTAR AL PROFE/ */
}

/* /TERMINA cartel del perrito/ */



/* /TARJETAS/ */

.contenedor_para_fondo{ 
    background-color: #fcf2eb;
    width: 100%;
    display: flex;
    justify-content: center;
}


.contenedor2-main-index {
    /* background-color: #daeeb4; */
    height: 100%;
    width: 1200px;
    padding-top: 140px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
}

.tarjetas {
    /* background-color: #ceb6a3; */
    position: relative;
    /* top: -70px; */
    /* border-radius: 10%; */
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarj {
    position: relative;
    background-color: #f7cdaa;
    height: 200px;
    width: 65%;
    border-radius: 100px;
    border-bottom-right-radius: 30px;
    margin: 35PX;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logotipo-tarjeta {
    /* background-color: rgb(238, 130, 238); */
    height: 100%;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borde1 {
    /* background-color: #ff0b0b; */
    height: 100%;
    width: 100%;
    border: solid 7px #fcf2eb;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borde2 {

    height: 100%;
    width: 100%;
    background-color: #f7cdaa;
    border: solid 5px #ffa75a00;
    border-radius: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-tarjeta {
    /* background-color: rgb(0, 255, 255); */
    width: 800px;
    padding-left: 50px;
    position: relative;
    top: -8px;
}

.img-tarjeta1 {
    height: 150px;
    width: 140px;

}

.img-tarjeta2 {
    height: 135px;
    width: 135px;

}

.img-tarjeta3 {
    position: relative;
    height: 140px;
    width: 140px;
    top: -8px;

}

.img-tarjeta4 {
    position: relative;
    height: 150px;
    width: 150px;
    top: 7px;

}


.titulo-tarjeta {
    font-size: 25pt;
    color: #ffa75a;
}

.parrafo-tarjeta {
    font-size: 14pt;
    color: #603813;
}

.caja-ir {
    position: relative;
    background-color: #ffa75a;
    height: 50px;
    width: 150px;
    bottom: -70px;
    left: 8px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.caja-ir:hover {
    transform: scale(1.1);
    background-color: #f8b67c;

}

.ir {
    font-size: 30pt;
    color: #f7cdaa;
}

.ir-link {
    text-decoration: none !important;
}
.ondas_responsive{
    display: none;
}



@media (max-width: 800px) {


    .contenedor1-main-index{
        height:500px ;
        /* display: none; */

    }

    .imagen-perro-cartel {
        width: 200px;
        height: auto;
    }

    .contenedor-descripcion{
        width: 80%;
        min-width: 440px;
        max-width: 500px;
        height: 300px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding: 10px;

    }


    .descripcion-greatpet{
        /* background-color: #ffa75a; */
        width: 180px;
        min-width: 180px;
        height: 200px;
        font-size: 15px;
    }

    .logo-caja{
        width: 200px;
        height: auto;

    }
    
    .linea {
        position: relative;
        top: -20px;
        background-color: #ffa75a;
        width: 5px;
        height: 72%;
        margin: 0px 15px;
        border-radius: 20px;
    }

    .ondas{
     display: none;
        min-width: 461px;;
    }
    .ondas_responsive {
        display: block;
        z-index: 6;
        /* background-color: #6ac77000; */
        position: relative;
        width: 100%;
        height: 300px;
        top: -200PX;
        /* /CONSULTAR AL PROFE/ */
    }

    /* /TARJETAS/ */

    .contenedor2-main-index{
        /* display: none; */
        width: 440px;
        min-width: 440px;
        margin-bottom: 100px;

    }

    .tarjetas{
        /* background-color: aqua; */
        top: -140px;
    }


    .tarj {
       width: 80%;
       height: 160px;
       border-radius: 50px;
       justify-content: start;
    }
    
    .borde1 {

        border-radius: 50px;
        width: 150px;

    }

    .logotipo-tarjeta{
        width: auto;
    }

    .img-tarjeta1 {
        height: 120px;
        width: 120px;
    
    }


    

    .img-tarjeta2 {
        height: 110px;
        width: 110px;
     
    }
    
     .img-tarjeta3 {
        height: 110px;
        width: 110px;
        top: -8px;
    
    } 
    
     .img-tarjeta4 {
        height: 110px;
        width: 110px;
        top: 0px;
    }

    .texto-tarjeta {
        /* background-color: rgba(0, 255, 255, 0.244); */
        width: 220px;
        padding-left: 20px;
        top: -15px;

    }


    .titulo-tarjeta {
        font-size: 20pt;
        color: #ffa75a;
    }

    .parrafo-tarjeta {
        font-size: 10pt;
        color: #603813;
    }


    .caja-ir {
        position: absolute;
        bottom: 0;
        left: 250px;
        height: 40px;
        width: 100px;
        
    }
    
    .ir {
        font-size: 20pt;
        color: #f7cdaa;
    }


}