

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*cartel del perrito*/


.contenedor1-main-index {
    height: 800px;
    width: 100%;
    background-image: url("../img/fondo-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.caja1 {
    display: flex;
    /* background-color: #ffa75a; */
    bottom: 0;
}

.CAJA-PERRO-CARTEL-ONDA {
    /* background-color: rgb(0, 255, 34); */
    width: 100%;
    height: 0;

}

.caja2 {
    z-index: 4;
    margin-top: 110px;
    display: flex;
    /* background-color: rgb(0, 136, 255); */
    flex-direction: column;
    align-items: center;
}

.imagen-perro-cartel {
    width: 250px;
    height: auto;
}

.contenedor-descripcion {
    position: relative;
    z-index: 3;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: #f7cdaa;
    width: 1000px;
    height: 580px;
}

.logo-caja {
    position: relative;
    top: -20px;
    width: 390px;
    height: auto;
}

.linea {
    position: relative;
    top: -20px;
    background-color: #ffa75a;
    width: 10px;
    height: 72%;
    margin: 0px 50px;
    border-radius: 20px;
}

.descripcion-greatpet {
    position: relative;
    top: -20px;
    /* background-color: #ff1201ef; */
    text-align: center;
    width: 400px;
    height: 400px;
    color: #603813;
    font-size: 22px;
}


.ondas {
    z-index: 6;
    /* background-color: #6ac77000; */
    position: relative;
    width: 100%;
    height: 200px;
    top: -200PX;
    /*CONSULTAR AL PROFE*/
}

/*TERMINA cartel del perrito*/



/*TARJETAS*/

.contenedor2-main-index {
    /* background-color: #daeeb4; */
    height: 1000px;
    width: 1200px;
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
}

.tarjetas {
    /* background-color: #ceb6a3; */
    border-radius: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarj {
    background-color: #f7cdaa;
    height: 200px;
    width: 65%;
    border-radius: 100px;
    border-bottom-right-radius: 30px;
    margin: 35PX;
    display: flex;
    align-items: center;
}


.logotipo-tarjeta {
    background-color: rgba(238, 130, 238, 0);
    height: 100%;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borde1 {
    /* background-color: #f9fceb; */
    height: 100%;
    width: 100%;
    border: solid 7px #fcf2eb;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.borde2 {

    height: 100%;
    width: 100%;
    background-color: #f7cdaa;
    border: solid 5px #ffa75a00;
    border-radius: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-tarjeta {
    /* background-color: rgb(0, 255, 255); */
    width: 800px;
    padding-left: 50px;
    position: relative;
    top: -8px;
}

.img-tarjeta1 {
    height: 150px;
    width: 140px;

}

.img-tarjeta2 {
    height: 135px;
    width: 135px;

}

.img-tarjeta3 {
    position: relative;
    height: 140px;
    width: 140px;
    top: -8px;

}

.img-tarjeta4 {
    position: relative;
    height: 150px;
    width: 150px;
    top: 7px;

}


.titulo-tarjeta {
    font-size: 25pt;
    color: #ffa75a;
}

.parrafo-tarjeta {
    font-size: 14pt;
    color: #603813;
}

.caja-ir {
    position: relative;
    background-color: #ffa75a;
    height: 50px;
    width: 150px;
    bottom: -70px;
    left: 8px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.caja-ir:hover {
    transform: scale(1.1);
    background-color: #f8b67c;

}

.ir {
    font-size: 30pt;
    color: #f7cdaa;
}

.ir-link {
    text-decoration: none !important;
}