/* Estilo para el botón y el menú desplegable */

.a {
    background-color: #fcf2eb;
    border: #ffa75a solid 4px;
    color: #ffa75a;
    padding: 10px;
    font-size: 20px;
    min-width: 166px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-right: 30px;
}
.flecha_abajo{
    position: absolute;
    right: 4px;
}

/* Estilo para el contenido del menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcf2eb;
    color: #ffa75a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: #ffa75ab6 solid 4px;
    border-radius: 14PX;
    overflow: hidden;
}

/* Estilo para los enlaces del menú desplegable */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    color: #ffa75a;
    display: block;
    text-align: center;
    font-size: 15pt;
}


/* Cambiar el color de fondo de los enlaces al pasar el cursor sobre ellos */
.dropdown-content a:hover {
    background-color: #ffa75aae;
    color: #fcf2eb;

}

/* Mostrar el menú desplegable cuando se hace clic en el botón */
.show {
    display: block;
}
